In [4]:
import pandas as pd
products=pd.read_csv("products.csv")
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [29]:
products[products['product_name']=='Rainbow Sprinkles']

       product_id       product_name  aisle_id  department_id
33525       33526  Rainbow Sprinkles        97             13

In [11]:
grocery_list = [{'product': 'hello', 'img_url': 'htttp'},{'product': 'hello2', 'img_url': 'htttp2'}]

In [16]:
grocery_list[0]['product']

'hello'